[2015-12-18 20:03] lapinnoir opened #21 "Two instances of rvplayer folder is created, one is left after Uninstall"
**How to Duplicate**
Run new installer
Uninstall
Go to ./config there is an rvplayer folder there however other files are deleted

**Expected**
All artifacts of RV deleted

**Environment**
Ubuntu 14.04 64bit
Ubuntu 15.10 32bit

**Note**
Similar behavior seen in #26

[2015-12-18 20:08] lapinnoir opened #22 "UI: Network checks don't reflect in the UI during install"
**How to duplicate**
You may need slightly 'off' connection but run the Installer, it will then state that there is no Internet connectivity even though there is.  In the logs below there is a network timeout for google.com.  This fails the connectivity check so the user is then taken to a message prompt stating that there is no Internet connectivity (there is - since it passed the other network c

[2015-12-19 03:01] tejohnso commented on #22
Can't really say why google timed out and the others didn't, but if they don't all pass it's not going to allow the process to continue.  Maybe it was something to do with the network being slightly off.  Can you try this again and see if it's a persistent problem?   And if so, can you explain how the network is slightly off?

[2015-12-19 22:56] lapinnoir opened #24 "Two instances of Startup shortcut with different targets in properties after running new installation over old Installer"
**How to duplicate**
This occurs for the following tests:

Test 1:
1. Install existing Player using existing installer with autostart enabled.
2. Replace RiseVisionPlayer.exe with new Installer
3. Reboot machine and confirm the old installer successfully upgrades to the new installer

Test 2:
1. Install existing Player using existing installer with autostart enabled.
2. Download new installer and

[2015-12-19 23:00] lapinnoir opened #25 "For more details visit [link] does not work in the Displays setup menu"
**How to Duplicate**
Install RV Player
Add invalid DisplayID

![linkdoesntwork](https://cloud.githubusercontent.com/assets/5868781/11915575/5d29bc28-a67a-11e5-98ab-113f4ca7f4e7.png)

**Expect outcome**
Link should go to the final Create A Display page

**Environment**
Found during Win 10 32bit testing but applicable with other OS

[2015-12-19 23:04] lapinnoir opened #26 "rvplayer folder remains in AppData/Local after Uninstall command"
**How to duplicate**
Install
Run the Uninstall Start menu option

The Rvplayer shortcut is not in startup folder, there are no Start/Edit/Uninstall options for RV in the Start menu option but the rvplayer folder remains in AppData/Local

See http://recordit.co/mpD1jxv1eG

**Expected outcome**
All RV artifacts deleted following Uninstall command either on the Startup or clicking on the Uninstall fi

[2015-12-19 23:07] lapinnoir opened #27 "Generic/wrong application icons for RV Player"
**How to duplicate**
Install new Player

![screen shot 2015-12-18 at 6 00 40 pm copy](https://cloud.githubusercontent.com/assets/5868781/11915597/5409de24-a67b-11e5-921c-fbdc8192b451.png)
![screen-shot-2015-12-18-at-6 04 06-pm](https://cloud.githubusercontent.com/assets/5868781/11915598/54117b84-a67b-11e5-9d51-1130a1fa67ad.png)

**Expected outcome**
RV icons on Start options

**Environment**
Win 1

[2015-12-19 23:45] lapinnoir opened #28 "Message unclear following failed installation"
Related to #22 but this is on another OS (Win 7 32bit).

**How to duplicate**
1. New install
2. After lack of connectivity (prompt to input proxy details) message, press Continue and try to complete installation
3. On failing the installation process you will see the prompt:
"An unknown error has occurred.  Please try again or post a question to http://community.risevision.com"

From a CS perspect

[2015-12-19 23:47] lapinnoir opened #29 "Publisher unverified message"
**How to Duplicate**
Install

Prompt "The publisher could not be verified" and "This file does not have a valid digital signature that verifies its publisher."

**Expected**
No prompt message

**Environment**
Win 7 32bit

[2015-12-20 06:19] lapinnoir opened #30 "Could not read file /home/user/rvplayer/RiseDisplayNetworkII.ini"
**How to replicate**
Install

Message:
[code]

However no known interference with installation process or UI.

**Environment**
Ubuntu 14.04 / 15.10

[2015-12-21 14:53] fjvallarino commented on #29
@lapinnoir @tejohnso This cannot be fixed until we have the certificate for signing the installer. I'd rather remove this issue to avoid confusion.

[2015-12-21 14:55] fjvallarino commented on #25
@lapinnoir This is not related to the installer itself, but to https://github.com/Rise-Vision/viewer

[2015-12-21 15:51] tejohnso commented on #28
@fjvallarino Do we have some way of turning off that compatibility assistant prompt?

As for the error, @lapinnoir in that failure case the user is going to go to CS and at that point I think they'd be asked to supply their log file.   We don't want to ask the user to try to figure it out on their own at that point or complicate the error message any further.

@ByronDarlison I propose we close thi

[2015-12-21 15:51] tejohnso commented on #29
@ByronDarlison Any objections to closing this?

[2015-12-21 15:52] tejohnso commented on #27
@ByronDarlison Can we close this and consider for a future enhancement?
@fjvallarino FYI

[2015-12-21 16:02] tejohnso commented on #21
See
https://github.com/Rise-Vision/rise-launcher-electron/pull/116

[2015-12-21 16:03] tejohnso commented on #30
Fix in progress https://github.com/Rise-Vision/rise-launcher-electron/pull/115

[2015-12-21 16:09] lapinnoir commented on #22
@tejohnso

I think that for the user this is going to be an obstacle:
- In the logs the reason why the connectivity check was a network timeout for one of the checks.  The user normally does not go through logs to find out why
- From a CS troubleshooting perspective (if the user approaches CS about this) it's difficult to troubleshoot to the user (without asking for additional info) other than req

[2015-12-21 16:36] tejohnso commented on #22
We don't want the user to go through the logs.  We retry the connection several times and if it can't complete we send them to CS.  I'm not sure what we would tell the user on the UI.  Their internet seems fine, and for some reason some of the network checks aren't passing.  I don't see what we do there aside from getting CS involved.  Anything else leads the user down a debugging path which I thi

[2015-12-21 16:49] ByronDarlison commented on #22
@tejohnso @lapinnoir @robb-price couple of questions:

What is the error message that the User sees when this happens?

Should they have the ability to try again?

If X % fail, rather than everything, should we give them the option to continue but warn them that there might be a problem?

Thanks!

[2015-12-21 16:52] ByronDarlison commented on #27
@fjvallarino I thought something had come up about this and you had already replaced these?

@tejohnso @fjvallarino do we have icons for these apps already? And if we do, can you post them here for review?

And, how difficult is it to update these?

Thanks!

[2015-12-21 16:53] ByronDarlison commented on #29
@lapinnoir @fjvallarino @tejohnso @robb-price I am okay with closing it. Can you include the link to the card that is tracking this future work in Trello here before closing though. Thanks

[2015-12-21 16:56] ByronDarlison commented on #28
@tejohnso curious, why is this an unknown error in the error message? We know what the error is don't we? And if we do, why can't we state it and ask the User to post the error they are getting in the community and we will do our best to help the. Okay?

BTW @lapinnoir awesome job of finding these!!!

[2015-12-21 17:03] lapinnoir opened #32 "rvplayer ./config/autostart after unchecking Autostart"
**How to Duplicate**
Clean install
Check Add to Startup
There is rvplayer in ./config/autostart
User changes mind, does not want Autostart
Run Installer
Unchecks Autostart
There is still rvplayer in ./config/autostart

**Expected outcome**
No ./config/rvplayer in autostart when a user unchecks Autostart in Installer (after the first install where the user initially checks Autostart)

**Environment

[2015-12-21 17:03] tejohnso commented on #29
Trello card: https://trello.com/c/xtxy2M8e

[2015-12-21 17:03] #29 closed

[2015-12-21 17:06] fjvallarino commented on #27
@ByronDarlison @tejohnso No, what I changed was the icon of the installer itself; it's now using the same icon the old installer uses (Rise's logo). I'm not sure which icon we should use for this. Since we're not specifying anything, it uses the default icons for that type of file. I guess using the Rise icon for Stop and Uninstall is ok, but I'm not sure about the Edit one, since we're actually o

[2015-12-21 17:07] tejohnso commented on #32
@lapinnoir The installer either adds or doesn't add autostart based on the checkbox. It doesn't remove autostart.  I think if the user wants to stop starting on bootup, they would do it from their OS startup menu.
Maybe we could also add a "remove from startup" option on our Rise Player program group.

@ByronDarlison  I suggest we talk about this as a future enhancement.

[2015-12-21 17:13] ByronDarlison commented on #32
@tejohnso good suggestion re. adding to Rise Player program group. @lapinnoir do you concur? @robb-price ?

And if all are in agreement @tejohnso @fjvallarino what would it take in terms of points to implement this? Thanks

[2015-12-21 17:15] ByronDarlison commented on #27
@lapinnoir could you list out all of our apps and their associated icons for both Windows and Ubuntu in a doc and let's review there and work out next steps. Thanks!

[2015-12-21 17:35] tejohnso commented on #28
@fjvallarino I think something like this should work.  Then we could add more user friendly messages to other sub-processes as well.
https://github.com/Rise-Vision/rise-launcher-electron/compare/chore/fix-unknown-error-overuse

[2015-12-21 17:57] fjvallarino commented on #28
@tejohnso Looks good

[2015-12-21 18:13] lapinnoir commented on #22
@ByronDarlison @tejohnso
On Win 7:  I can press Continue on that dialogue box and continue on with the network connectivity checks.  But if the checks are failing (either due to one or many fails) I won't be able to move past this box and finish the installation.

I've pressed Continue and can't move past.

After a few minutes I've exited (Cancel) then ran the installer again.  This time I was abl

[2015-12-21 18:31] ByronDarlison commented on #22
@lapinnoir okay. @tejohnso can you recap for me how you recommend we correct this situation? Thanks!

[2015-12-21 19:33] tejohnso commented on #32
@ByronDarlison It's very similar to the other program group icons we have so it should be a small change.  On the same order as the other fixes we've been making today.

[2015-12-21 19:37] tejohnso commented on #26
@fjvallarino can you reproduce this?

[2015-12-21 19:40] tejohnso commented on #22
I think we should add more attempts to establish a connection and make sure there's a delay between each attempt.  I'm not sure if that's the case right now.  It might be firing off 10 attempts within one second or something.

After that I think we leave it as is and see if it's a problem many users are encountering.  Then we should revisit before starting to upgrade existing users.

[2015-12-21 19:46] fjvallarino commented on #24
@lapinnoir @tejohnso See https://github.com/Rise-Vision/rise-launcher-electron/pull/119

[2015-12-21 19:51] lapinnoir opened #33 "Incorrect UI message following failed network check"
**How to duplicate**
Install

See UI prompt that the Install was a success however the Continue button is greyed and unable to Start Player following the install

![screen shot 2015-12-21 at 1 50 02 pm](https://cloud.githubusercontent.com/assets/5868781/11939461/50d30502-a7f0-11e5-813a-57c4763183c6.png)

When pressing Cancel taken to this prompt:

![screen shot 2015-12-21 at 2 07 24 pm](https://cl

[2015-12-21 19:52] ByronDarlison commented on #22
@tejohnso okay. @lapinnoir @robb-price do you agree with @tejohnso 's recommendation?

[2015-12-21 19:55] ByronDarlison commented on #32
@tejohnso okay. I think we should add this. @lapinnoir @robb-price you concur?

[2015-12-21 20:09] lapinnoir commented on #22
@tejohnso @ByronDarlison  I agree with the two.  Does it need to be 100% pass, or what about 80% pass for all checks?

[2015-12-21 20:11] lapinnoir commented on #25
@fjvallarino thanks, issue submitted in https://github.com/Rise-Vision/viewer/issues/76 - closing this one.

[2015-12-21 20:11] #25 closed

[2015-12-21 20:12] lapinnoir commented on #27
@ByronDarlison added as a checklist in https://trello.com/c/AFtIspbm/1093-3-rise-player-new-installer-testing - new card?

[2015-12-21 20:14] lapinnoir commented on #32
@ByronDarlison @tejohnso sounds good

[2015-12-21 20:18] fjvallarino commented on #26
@lapinnoir @tejohnso I'm not able to reproduce this issue. I guess it can happen if you call the "Uninstall" link while having the rvplayer folder open in Windows Explorer or similar; Windows is not really keen on deleting stuff currently in use.

[2015-12-21 20:41] ByronDarlison commented on #27
@lapinnoir that's fine. Thanks

[2015-12-21 20:42] ByronDarlison commented on #22
@lapinnoir @tejohnso I think something less than 100% would work. What do you guys think?

[2015-12-21 20:43] fjvallarino commented on #28
@lapinnoir @tejohnso See https://github.com/Rise-Vision/rise-launcher-electron/pull/117

[2015-12-21 21:15] tejohnso commented on #22
Addressed here
https://github.com/Rise-Vision/rise-launcher-electron/pull/120

I think we should see what happens with this fix and if we still get intermittent errors then start accepting less than 100%.  I don't think it's very useful to tell the user "you *may* have problems" though.  What are they supposed to do with that information?

[2015-12-21 21:18] fjvallarino commented on #33
@lapinnoir @tejohnso See https://github.com/Rise-Vision/rise-launcher-electron/pull/117

[2015-12-21 21:23] lapinnoir commented on #22
@tejohnso @ByronDarlison Ok.  If we get to the stage of acceptance for less than 100%, the next question is what % is enough to pass.  What about passing one network check being enough to confirm connectivity (not level/quality of connectivity) and finish the installer?

[2015-12-21 21:32] tejohnso commented on #22
@lapinnoir Good question.  The point of doing this check is to make sure the user doesn't run into problems later on.  If we set it to only one check, then we're not really achieving the goal.  We might as well say the fact that they were able to download the installer from the internet is sufficient to prove their network works.  We have all these different sites being checked to try to make it f

[2015-12-21 21:36] robb-price opened #34 "Current Windows Installer is downloading Chrome 47 on second launch even after the upgrade to 47 is turned off"
<b>How it works now:</b>
1. Download the installer from help.risevision.com, and run it. Notice that it installs Chrome 46.
2. Kill Java instances and restart Player, or just reboot the machine. Notice upon Player starting again, to begins downloading Chrome 47.

For further clarification: https://goo.gl/LWdtgG

<b>How it should work:</b>
Since upgrades for the Windows player have been disabled, i

[2015-12-21 21:49] lapinnoir commented on #29
@tejohnso Also FYI for the Win 8 message appearing:
Windows Smartscreen prevented an unrecognised app from starting.  Running this app might put your PC at risk.

[2015-12-21 22:31] ByronDarlison commented on #22
Good point @tejohnso. Let's see what happens. Thanks

[2015-12-21 22:49] lapinnoir opened #36 "Installer process runs again upon reboot"
**How to Duplicate**
Two scenarios
1. Finish install -  select Autostart - Don't input Display ID, Quit - Reboot
2. Finish install -  select Autostart - Input Display ID - Reboot

Upon reboot for both I am taken to the Rise Player installation process (checking components, install complete) again.  This process does not involve user interaction (ie pressing Continue, etc).  After the installation

[2015-12-21 23:04] tejohnso commented on #32
@lapinnoir I've implemented it through the installer.  It was easier than adding start menu options.  We can always add those options later, and they'll trigger the same code in the installer.    Doing some testing now.

[2015-12-21 23:16] tejohnso commented on #36
@lapinnoir This is working as expected.  In both new and old installer the "installer" runs again on bootup.  This is because the installer needs to check for any updates and install them as necessary.   In the old one there is no UI but this one has one so it's visible.  We've set it up so that it requires no user interaction from autostart.

[2015-12-21 23:19] lapinnoir commented on #36
@tejohnso thanks - closing issue

[2015-12-21 23:19] #36 closed

[2015-12-21 23:55] robb-price commented on #34
@fjvallarino shared RisePlayer 2015.10.12.15.11, this one does not appear to upgrade to 47 after restarting Player.

@tejohnso @alanclayton This may be a moot point since there are so many Chrome 47's Windows machines out there. We can discuss tomorrow.

[2015-12-22 13:31] #21 closed

[2015-12-22 13:31] #24 closed

[2015-12-22 13:31] #28 closed

[2015-12-22 13:32] #33 closed

[2015-12-22 13:32] #30 closed

[2015-12-22 13:48] lapinnoir commented on #33
@fjvallarino @tejohnso thanks, closing issue

[2015-12-22 13:48] lapinnoir commented on #30
@tejohnso thanks, closing issue

[2015-12-22 13:48] lapinnoir commented on #28
@fjvallarino @tejohnso thanks, closing issue

[2015-12-22 13:48] lapinnoir commented on #24
@fjvallarino @tejohnso thanks, closing issue

[2015-12-22 13:48] lapinnoir commented on #21
@tejohnso thanks, closing issue

[2015-12-22 14:08] #27 closed

[2015-12-22 14:08] lapinnoir commented on #26
@fjvallarino I will revisit again

[2015-12-22 14:12] lapinnoir commented on #22
@tejohnso @ByronDarlison closing issue since fix for this deployed in 334

[2015-12-22 14:12] #22 closed

[2015-12-22 14:35] tejohnso commented on #34
@robb-price in any case I think this is fixed now, correct?
@fjvallarino FYI

[2015-12-22 14:51] lapinnoir commented on #32
@tejohnso to confirm is this in 334#artifacts?

[2015-12-22 14:53] tejohnso commented on #32
@lapinnoir yes, it is there.

[2015-12-22 14:55] #32 closed

[2015-12-22 17:10] robb-price commented on #34
@tejohnso That's correct, however we should ensure the new installer does not have the same problem, which I don't think it does. So we can close this.

[2015-12-22 17:10] #34 closed

[2015-12-22 17:24] lapinnoir opened #37 "Failed network check message text does not include prompt for user to press Continue"
See:
![ctacontinue](https://cloud.githubusercontent.com/assets/5868781/11961488/ee1aea44-a8a6-11e5-87e4-2c613786be92.png)

**Expected**
Adding call to action within the initial copy to prompt users that they can press Continue

**Environment**
Win 7 32bit

[2015-12-22 17:35] tejohnso commented on #37
I think we can change **"Otherwise please contact support."** to **"Otherwise please contact support or click continue to try again."**
@ByronDarlison @lapinnoir Sound good?

[2015-12-22 17:43] lapinnoir commented on #37
@tejohnso:
 "Otherwise please click Continue below or go to community.risevision.com for Support"

- the click Continue I think should be emphasized so that the user can try again
- when contacting Support there should be an additional call to action so I've added the web link.

@robb-price @ByronDarlison

[2015-12-22 18:22] robb-price commented on #37
@lapinnoir @ByronDarlison @tejohnso My vote would be to send them to the community.

I don't think the Continue button needs to be emphasized personally, and I agree with adding the community link, as if they are having trouble getting online past a proxy, it's likely they won't be able to click a link to go to the community.

[2015-12-22 18:35] lapinnoir opened #38 "Unclear on progress message"
**How to Duplicate**
Run 2 x Win 7 VM on two different networks.

**Notes**

I've attached Win 7 VM pass and fail logs for the Installation at https://drive.google.com/a/risevision.com/folderview?id=0B9dlQoKNNmZWODd5Yy1lX3MyLW8&usp=sharing

Pass is when I was able to complete the installation and can Start Player.
Fail is when I was unable to complete the installation.  For this, it was during the

[2015-12-22 18:51] tejohnso commented on #38
@lapinnoir Is there anything special about these machines?  Can you indicate the process you followed?

[2015-12-22 18:57] ByronDarlison commented on #37
Agreed. Thanks

[2015-12-22 19:12] lapinnoir commented on #38
@tejohnso Nothing special, they are all on a clean install of Win 7.
With one of the failed VMs, it did eventually finish the installation (so, I didn't cancel this - I thought I did) but the whole process took a look time, see **installer-detail.log** for this, which I will update in that folder I shared (cc @fjvallarino)

**VM1 - Initially
2015/12/21 22:41:49 - beginning install
2015/12/21 22:41

[2015-12-22 19:16] lapinnoir commented on #38
@tejohnso I've just updated the comment.  So a user will eventually finish and go through installation but the messaging is unclear that they can (quality of network or setup would be another conversation - as long as CS/UI can assure the user that they need to wait)

[2015-12-22 19:19] tejohnso commented on #38
@lapinnoir The extraction took three hours.  Is it possible there was a lot of contention on that VM? @fjvallarino  In either case, I think we need to improve the UI here so that users know it's still working.

[2015-12-22 19:21] lapinnoir opened #39 "Could not log to bigquery error"
**How to duplicate**
This log came from #38 Win7 VM1

After finishing the new Installer (for one of the slow network VM example from #38 ) and starting up the Rise Player, in the logs there is:

Could not log to bq [Error: request to https://www.googleapis.com/bigquery/v2/projects/client-side-events/datasets/Installer_Events/tables/events20151222/insertAll failed, reason: socket hang up]

See inst

[2015-12-22 19:46] lapinnoir commented on #38
@tejohnso @fjvallarino Agree with the UI.
From a CS troubleshooting perspective, knowing that a user can finish installation (ie even after more than a few hours..), CS can state that the user should wait x time and that it may be a network issue as to why it is taking a long time.

The other item is that I was wondering if the extraction time had something to do with the initial network fail (I p

[2015-12-22 20:50] lapinnoir commented on #38
@tejohnso
On the VM that passed (the one on another network) I was able to install on first 2-3 tries, but is pausing considerably on the 'installing' part for nearly an hour now. If this issue is reoccurring on Win7, I would want to test on a few more networks to see if it's related to Win7.

[2015-12-22 20:54] fjvallarino commented on #38
@lapinnoir Have you tried the setup process on a real Win 7 machine (not a VM)? I've had some connectivity issues with Win 7 on local VMs, but not on uptimes.

Anyway, the "extracting" and "installing" delays do not involve the network, so it's most likely a hard drive contention issue. We're looking at how we can inform the user the process is still running even if it takes more than expected.

[2015-12-22 21:01] lapinnoir commented on #38
@fjvallarino @tejohnso
For some reason I thought I was working on a VM.  @robb-price has confirmed I am testing on a real Win 7 box not VM.

I've renamed the log files in that folder I shared.

[2015-12-22 21:09] tejohnso commented on #38
So @lapinnoir I see some VM fails and a not-VM pass.   Are we only getting failures on VMs?

[2015-12-22 22:51] lapinnoir opened #40 "Error message in terminal unclear that errors found in network req is due to being under proxy"
**How to replicate**
Install

In Terminal:
UI is ready
Checking network requirements
error found5
error found5
error found5
error found4
error found4
error found4
[Hannah: and so on]

The UI pops up prompting user to input proxy information

**Environment**
Ubuntu 14.04 64bit under proxy

[2015-12-22 23:17] lapinnoir opened #41 "Duplicate rvplayer and rvplayer~ generated"
**How to replicate**
I have successfully upgraded from old to new player for the other Ubuntu 14.04 and 15.10 and saw this issue for Ubuntu 15.10 under proxy.  I have done this test twice and can confirm for both.

Note: Testing for this is done on 334#artifacts (Installer Dec 22/2015).  Testing which worked previously was done on 315#artifacts.

Follow the Installer Testing spreadsheet 'Testing p

[2015-12-22 23:18] tejohnso commented on #39
@lapinnoir That could've come from a previous attempt to log an error while the network was down.

[2015-12-22 23:22] tejohnso commented on #40
Those are debugging messages which should be removed.
Updated here https://github.com/Rise-Vision/rise-launcher-electron/pull/123

[2015-12-22 23:46] tejohnso commented on #41
I suspect that the network failed while the old player was trying to download the new player.
I just tried this on 14.04 without proxy and it worked as expected.

[2015-12-22 23:53] lapinnoir commented on #41
@tejohnso This one was for under proxy only.  It worked without proxy

[2015-12-22 23:56] lapinnoir commented on #40
@tejohnso thanks - closing issue

[2015-12-22 23:56] #40 closed

[2015-12-23 00:26] lapinnoir opened #42 "RV Artifacts left after Uninstall command in Startup"
**How to Duplicate**
Install (334#artifacts)
Select Uninstall Rise Vision Player command in Startup

**Artifacts left:**
Folder including these subfolders: rvplayer > Installer > resources > app > node_modules > https_proxy_agent, istanbul and rimraf subfolders

**Expected outcome:**
No artifacts left

**Environment**
Win 7 32 bit on proxy

[2015-12-23 01:33] lapinnoir commented on #42
Edit: I deleted this folder to do another reinstallation of the new Player and could not duplicate.
I am wondering if this may have been something left over from a previous installation of the new Player? I've noticed that this issue has come up and the folder is **rvplayer** compared to **RVPlayer** folder.

[2015-12-23 02:07] lapinnoir commented on #38
@tejohnso
There is a definite improvement going away from Win 7 VM on my network and machines. I don’t know what caused one of the delays on the Win 7 real box on Robb’s network- had no delay from download to finish installation but on a reinstall (during the final part of the testing spreadsheet which requires re-installing the Player) there was a considerable delay during the ‘installing’ part i

[2015-12-23 02:48] tejohnso commented on #42
Maybe a process was still running, preventing the removal of the Installer folder.

[2015-12-23 02:50] tejohnso commented on #41
Yeah, the old installer has a problem.  It downloads the components list and if it sees the installer needs updating it will start to download the installer.  If at some point that download fails, it leaves a non-functioning, zero byte "rvplayer".  It doesn't handle intermittent network failures well.

[2015-12-23 02:52] tejohnso commented on #38
@lapinnoir I just pushed an update which should at least give the UI some updates as the extraction process progresses.  I'll update the trello card soon.

[2015-12-23 03:56] lapinnoir commented on #26
closing to see if issue replicates 340#artifacts

[2015-12-23 14:00] lapinnoir opened #43 "Pop up message when running incorrect arch"
**How to replicate**
Install 340#artifacts on wrong arch and run (ie 64bit on 32bit)

Message:
This version of %1 is not compatible with the version of Windows you're running.  Check your computer's system information and then contact the software publisher.

**Expected**
Mention it is Rise Vision software and that error is due to arch software (as 'version' could be misinterpreted as Windows 7 or

[2015-12-23 14:27] tejohnso commented on #43
I just ran the 64bit Windows version on a 32bit machine and it worked for some reason.

Which machine are you using?
Did the initial unzip work?

[2015-12-23 14:28] tejohnso commented on #37
@lapinnoir please recheck using 340

[2015-12-23 14:28] tejohnso commented on #38
@lapinnoir please recheck using [340](https://circleci.com/gh/Rise-Vision/rise-launcher-electron/340#artifacts)

[2015-12-23 14:34] tejohnso commented on #43
Correction, I'm going to retest this now.

[2015-12-23 14:35] lapinnoir commented on #43
@tejohnso On a real machine - Win 10 32bit

[2015-12-23 14:43] lapinnoir opened #44 "Uninstall Startup Cmd and Stop Player Startup Cmd"
**How to Duplicate**
This hasn't surfaced due to how I run the tests on Linux so far where I go to terminal and issue out ./stop.sh and ./uninstall.sh commands on Terminal.

Install 340# artifacts
Issue out the Stop Rise Vision Player and Uninstall Rise Vision Player command on Startup
**rvplayer** artifacts remain.
Uninstall does not Uninstall but issues out pop up to uninstall Rise Vision Player

[2015-12-23 14:47] fjvallarino commented on #43
@lapinnoir I'm checking if I can improve this message

[2015-12-23 15:10] lapinnoir commented on #26
@fjvallarino @tejohnso Reopening this issue because I can confirm that Uninstall option on Startup doesn't work including rebooting and running uninstall option again.  See http://recordit.co/mpD1jxv1eG

I've edited the original issue with the link

[2015-12-23 15:12] lapinnoir commented on #26
Also: the recording is from 340#artifacts version of Installer

[2015-12-23 15:18] lapinnoir commented on #37
@tejohnso :+1:

[2015-12-23 15:18] #37 closed

[2015-12-23 15:44] lapinnoir commented on #38
@tejohnso Rechecking now, can see the new UI.  Will close this issue since it's for 334#artifacts

[2015-12-23 15:44] #38 closed

[2015-12-23 16:17] lapinnoir opened #45 "When editing Display ID on the Startup option the Display starts/does not start depending if the DisplayID is valid or invalid"
**How to Duplicate**

Edit 1:
**Editing from a valid Display ID to an invalid Display ID**
Install using 340#artifacts (but first noted on previous versions)
Start Player upon finish installation and input a valid DisplayID.  Player starts with valid Display ID.

Run "Edit Display ID" Startup option and edit **from a valid Display ID to an invalid Display ID**.  Save.
The Player starts again on th

[2015-12-23 16:31] tejohnso commented on #45
The player isn't going to pick up a new configuration unless it restarts.  It has no way of knowing that the configuration was edited while it is still running.

Maybe we should have a comment in the file saying so?
Or maybe the menu option should stop the player before edit and the name should be changed to reflect that?

[2015-12-23 16:45] lapinnoir opened #46 "When running Stop > Uninstall in Startup option rvplayer artifacts are left"
This is related to https://github.com/Rise-Vision/rise-launcher/issues/26 regarding the Uninstall Startup menu item leaving artifacts

**How to Duplicate**
On 340# artifacts
Run Stop Player in Startup menu option.  The Player stops.
Run Uninstall in Startup menu option.  The Player mostly uninstalls but leaves artifacts.  See http://g.recordit.co/vc61f0tCTs.gif http://g.recordit.co/XAGZOOB1wf.gif

[2015-12-23 16:58] lapinnoir commented on #45
@tejohnso

I've done the Ctrl+W to stop (or is it pause?) the Player before editing, I thought that Player has stopped (and on restart, will have the DisplayID).  I think that the comment in the file is most straight forward for the user.

[2015-12-23 17:01] tejohnso commented on #44
@lapinnoir Updated [here](https://circleci.com/gh/Rise-Vision/rise-launcher-electron/348#artifacts)

[2015-12-23 17:06] tejohnso commented on #46
@fjvallarino Can you take a look at this one?

[2015-12-23 17:08] tejohnso commented on #45
@lapinnoir The CTRL+W will stop the browser/viewer but there's still a java process (player) running in the background.   I'll add a comment in the file.

By the way, how are you starting the player after stopping it?

[2015-12-23 17:18] lapinnoir commented on #46
@tejohnso @fjvallarino

I've tried this again twice and the Stop > Uninstall works (aka all files deleted).  See http://g.recordit.co/hptBQGTWXu.gif

For the above case, either an anomaly, or another scenario that I haven't replicated in the other two tries recently for Win 10 64bit.

[2015-12-23 17:19] lapinnoir commented on #45
@tejohnso By stop, do you mean Ctrl+W or do you mean the Stop in Start menu? I usually wait until the Player starts again, or go through Installer again.  For this issue, I waited.

[2015-12-23 17:21] tejohnso commented on #46
@lapinnoir Okay I'll close it for now then.

[2015-12-23 17:21] #46 closed

[2015-12-23 17:28] tejohnso opened #47 "Add a "Start Player" option"
We have stop, edit, uninstall, but we don't have **start**.

[2015-12-23 17:33] tejohnso commented on #45
@lapinnoir I've added an issue in the player project for this
https://trello.com/c/Whm2Nb9v

[2015-12-23 17:33] #45 closed

[2015-12-23 17:35] lapinnoir commented on #44
@tejohnso Thanks - closing for testing on the new version

[2015-12-23 17:35] #44 closed

[2015-12-23 17:38] tejohnso commented on #26
@fjvallarino Can you check into this windows uninstall issue?

[2015-12-23 17:50] fjvallarino commented on #26
@lapinnoir @tejohnso I think this is because the user name has white spaces. I'll add quotation marks to the batch file command.

[2015-12-23 20:00] lapinnoir opened #48 "Installing wrong arch on Linux"
**How to Duplicate**
Use 348#artifacts
Run wrong arch on Linux

For 32bit on 64bit arch
[code]

For 64bit on 32bit arch

[code]

**Expected**
Should be clear user installing wrong arch

[2015-12-23 20:12] lapinnoir opened #49 "Win and Linux associated icons"
Trello card: https://trello.com/c/O1UuHBq1/241-delivery-icons

[2015-12-23 20:26] lapinnoir commented on #44
@tejohnso Verified for 14.04 and 15.10 :+1:

[2015-12-23 20:49] lapinnoir commented on #39
@tejohnso Thanks. I haven't completed the BQ portion for any of the tests yet.  I'll leave this open until I get to this part.

[2015-12-23 21:01] lapinnoir commented on #41
@tejohnso I'll close this since relates to old Installer and then re-address this if it's in the new Installer and new updater..is that correct?

[2015-12-23 21:19] tejohnso commented on #47
@lapinnoir You can check this out [here](https://circleci.com/gh/Rise-Vision/rise-launcher-electron/356#artifacts).  We now have menu commands for uninstall, edit, stop, restart.
I tested on linux32.

[2015-12-23 21:19] tejohnso commented on #42
@lapinnoir Is the uninstall ok now?

[2015-12-23 21:20] tejohnso commented on #41
@lapinnoir Sure, I'll close it now.

[2015-12-23 21:20] #41 closed

[2015-12-23 21:50] tejohnso commented on #48
@lapinnoir There's no nice way to prevent the user from downloading the wrong version or checking which version they've downloaded .I think we should leave this for now and see if it's a real world problem.

[2015-12-23 21:52] tejohnso commented on #43
@lapinnoir Similar to the linux issue the user should download the correct file.  We can add some workarounds to try to improve this situation if we find out that effort is warranted.

[2015-12-23 21:58] fjvallarino commented on #26
@lapinnoir @tejohnso This build should fix the issue: https://circleci.com/gh/Rise-Vision/rise-launcher-electron/360#artifacts

[2015-12-23 22:02] lapinnoir commented on #43
@tejohnso Ok - closing until further real world feedback

[2015-12-23 22:02] #43 closed

[2015-12-23 22:02] lapinnoir commented on #48
@tejohnso Ok - closing until further real world feedback

[2015-12-23 22:02] #48 closed

[2015-12-23 22:02] lapinnoir commented on #26
@tejohnso @fjvallarino Ok - closing and using 360 to test

[2015-12-23 22:02] #26 closed

[2015-12-23 22:44] lapinnoir opened #50 "Persistent Stopping Player message after selecting Restart"
**How to Duplicate**
Install 356#artifacts
Select Stop command
Select Restart command
See 15.10 (http://g.recordit.co/Q4WNqzv8Rt.gif) and 14.04 (http://g.recordit.co/ED5X6Wttyl.gif)

**Expected**
1. No persistent pop up "Stopping Rise Vision Player" after stopping the Player

**Environment**
Ubuntu 14.04 and 15.10 64bit

[2015-12-23 22:50] lapinnoir commented on #47
@tejohnso confirmed for lnx 64bit 14.04 and 15.10

[2015-12-23 22:50] #47 closed

[2015-12-24 12:56] lapinnoir commented on #39
reopening if error appears during batch BQ part of installer testing in 360 release

[2015-12-24 12:56] #39 closed

[2015-12-24 13:02] lapinnoir commented on #42
Closing due to new batch testing

[2015-12-24 13:32] lapinnoir opened #51 "Restart Player Start Menu option not in Windows but is in Linux"
**How to replicate**
Install 360# artifacts on Windows

No Restart Player option but it is available in Linux 14.04 and 15.10 (ie https://github.com/Rise-Vision/rise-launcher/issues/47)

**Expected**
 Restart Player option in Start menu for Windows

[2015-12-24 19:37] lapinnoir opened #52 "BigQuery Not Registering Display on Initial Install"
**How to duplicate**
Fulfill 360#artifacts installation to inputting the Display ID (valid).
Run the Display with this valid ID.
Edit the Display ID, save and reboot.
Notice the invalid Display ID message on reboot.
Run BQ.

The valid Display ID does not show (3BMRU7DZWJ6E) in any of the queries.
The invalid Display ID shows (3BMRU7DZWJ6EEEE) in BQ.

**Environment**
Win 8 32bit

**Expected outcome

[2015-12-24 21:52] lapinnoir opened #53 "Zlib._handle.onerror (zlib.js:363:17)"
**How to replicate**
I initially saw this error on an install on Win 7 32bit, and again on Win 7 64bit.
The popup occurred when I had inadvertently clicked to install the exe during an installation process that is already running.

[code]

No observed issues to the user.

[2015-12-24 22:15] lapinnoir commented on #42
reopening: https://github.com/Rise-Vision/rise-launcher-electron/pull/130

[2015-12-24 22:45] fjvallarino commented on #51
@lapinnoir This one is working for me. Just in case, try with this build: https://circleci.com/gh/Rise-Vision/rise-launcher-electron/373#artifacts

[2015-12-24 23:20] fjvallarino commented on #50
@lapinnoir @tejohnso By design these notification bubbles ignore the timeout parameter provided to them, so they will show for about 10 seconds. Maybe we can leave the first message "Stopping..." and remove the second "...stopped".

https://bugs.launchpad.net/ubuntu/+source/notify-osd/+bug/390508

[2015-12-24 23:33] lapinnoir opened #54 "Add pop up "Restarting Rise Vision Player" when selecting Restart"
**How to Duplicate**
Install 356#artifacts
Select Restart command
See 15.10 (http://g.recordit.co/Q4WNqzv8Rt.gif)

Expected
Add pop up "Restarting Rise Vision Player" when selecting Restart

Environment
Ubuntu 14.04 and 15.10 64bit

(submitted as new issue, previously combined in somewhat related issue https://github.com/Rise-Vision/rise-launcher/issues/50)

[2015-12-24 23:35] lapinnoir commented on #50
@fjvallarino @tejohnso
Ok. Yes I was expecting the 'Stopped' message as indicator that Player has stopped, at least in the UI, before I do something else.

[2015-12-24 23:35] lapinnoir commented on #51
@fjvallarino I think this is for #42 ?

[2015-12-24 23:42] fjvallarino commented on #51
@lapinnoir No no, it's for this one. The Restart menu option is showing up for me.

[2015-12-24 23:51] fjvallarino commented on #42
@lapinnoir This one should be working too: https://circleci.com/gh/Rise-Vision/rise-launcher-electron/373#artifacts

[2015-12-24 23:55] fjvallarino commented on #54
@lapinnoir @tejohnso I'll use this issue to reach an agreement on how we should handle this notifications (since it affects issue #50 too). Currently we have three menu options displaying bubbles (uninstall, restart, stop), and all of them display a bubble at the beginning and at the end. Both of these bubbles last for about 10 seconds, a duration which cannot be changed. Should we display only on

[2015-12-24 23:58] fjvallarino commented on #53
@lapinnoir Did this happen right away when you ran the installer again, or was it after the installer was loaded and started copying files? I tried launching installer-win-64.exe again with an already running installer and had no issues.

@tejohnso FYI

[2015-12-25 16:03] tejohnso commented on #54
My suggestions:
For restarting we can show a restarting bubble.  We don't need a finished bubble because the user will see the viewer pop up.

For uninstall, show the bubble upon completion since it should complete fairly quickly.

For stop, show only "stopping player" when the process begins.

[2015-12-25 16:07] tejohnso commented on #52
@lapinnoir The install process is complete by the time you enter the valid display id.  There's nothing left for the installer to log because at that point it's the viewer and the player acting.

Once you change to an invalid display id and reboot, then installer then runs again (after reboot) and so it will log events with the invalid display id.

You'd find the valid display id in the player eve

[2015-12-25 16:13] tejohnso commented on #50
Closing this one - to address as part of #54

[2015-12-25 16:13] #50 closed

[2015-12-25 16:15] tejohnso commented on #53
@lapinnoir @fjvallarino If this doesn't affect the progress and successful operation of the first run let's close this.

[2015-12-26 02:55] lapinnoir commented on #53
@tejohnso @fjvallarino no known affect so will close.

[2015-12-26 02:55] #53 closed

[2015-12-26 02:56] lapinnoir commented on #54
@tejohnso I agree with those suggestions.

[2015-12-26 03:50] lapinnoir commented on #51
@fjvallarino Looks good. Closing issue.

[2015-12-26 03:50] #51 closed

[2015-12-26 03:56] lapinnoir commented on #53
@tejohnso @fjvallarino No know effect, will close. Pop up has appeared again, this time on Win 10 for 373#artifacts

[2015-12-27 03:10] lapinnoir opened #55 "taskkill and chrome.exe processes"
**How to duplicate**
Install 373#artifacts
Open Chrome browser
Select the Start menu options Restart or Stop Player
All Chrome.exe processes are terminated

See http://g.recordit.co/fLp0lm7AdX.gif

I am wondering if it is possible for taskkill to not terminate all chrome.exe processes in case a user is on Chrome (i.e. they press Ctrl+W but not Stop Player on the start menu then use Chrome browser)

[2015-12-27 03:39] lapinnoir opened #56 "Different processes for Win 7 and Win 10 install"
**How to duplicate**
1x Win 7 VM and 1x Win 10
Go through install for each and run Process Monitor

Background
Win 7 VM has significant delays (i.e. 4 hrs, several hours) in finishing the install.  There were no delays like this noticed in Win 8 and Win 10.  It’s unknown if issue is VM.  In the logs, it looks like the issue may be how Win 7 is going through the install.

Ideas as to why this is th

[2015-12-27 15:07] tejohnso commented on #56
@lapinnoir @fjvallarino Do we have any evidence of this same issue on a real Win7 box as opposed to a VM?

[2015-12-28 05:16] lapinnoir commented on #56
@tejohnso This is on Win 7 64 bit and I don't have real machine for Win 7 avail other than Uptime Wall...

[2015-12-28 15:14] #55 closed

[2015-12-28 15:15] ByronDarlison commented on #54
@fjvallarino reviewed with @robb-price are you okay with taking it as @tejohnso described above? Thanks

[2015-12-28 15:17] #52 closed

[2015-12-28 15:20] fjvallarino commented on #54
@ByronDarlison @robb-price @lapinnoir This is implemented in these artifacts: https://circleci.com/gh/Rise-Vision/rise-launcher-electron/383#artifacts

[2015-12-28 15:41] fjvallarino commented on #55
@lapinnoir I could not find a way of restricting what taskkill affects (which we can do with the corresponding command on Linux). Having said that, I don't think this is a big issue, since displays should only be used for presentations.

[2015-12-28 15:52] robb-price commented on #54
@fjvallarino Thanks.

@lapinnoir Can you test the installer on all appropriate OS' and let us know if this passes?

Thanks!

[2015-12-28 15:53] robb-price commented on #42
@fjvallarino Just to confirm, this issue is now corrected? Can @lapinnoir verify this now?

[2015-12-28 15:59] fjvallarino commented on #42
@robb-price As far as my testing goes, yes. The issue referenced previously (#130) is not related to this one.

[2015-12-28 16:08] lapinnoir commented on #42
@fjvallarino @robb-price verified - closing this issue

[2015-12-28 16:08] #42 closed

[2015-12-28 16:34] lapinnoir opened #57 "Restart not working on Win 10 but works on Win 7 and 8"
Use https://circleci.com/gh/Rise-Vision/rise-launcher-electron/383#artifacts

Ctrl+W to get out of viewer
Select Restart
See http://recordit.co/CJi2y4k7uS
In the above example, I’ve tried both the Restart menu option and the Restart in the rvplayer folder itself.  You can see the Terminal flash briefly but the Player not restarting.

I have done another test of this and waited longer and can also

[2015-12-28 16:53] lapinnoir commented on #54
@fjvallarino The Restart option and the pop up appears on Linux 14.04 and 15.10, closing issue.

[2015-12-28 16:53] #54 closed

[2015-12-28 17:58] lapinnoir commented on #56
@tejohnso @fjvallarino Closing since issue on VM but not real Win 7 boxes (both for 32bit and 64bit)

[2015-12-28 17:58] #56 closed

[2015-12-28 18:15] lapinnoir opened #58 "node_modules artifact left after Uninstall"
**How to Duplicate**
Install https://circleci.com/gh/Rise-Vision/rise-launcher-electron/383#artifacts
Uninstall
Installer app > node_modules > tar-fs
See http://g.recordit.co/VfD7iKTPuq.gif

**Environment**
Win 7 64bit (real box)

[2015-12-28 18:35] fjvallarino commented on #57
@lapinnoir @tejohnso I can restart without problems on my Windows 10 64bit box. I'm downloading a Windows 10 32bit version to create a VM.

[2015-12-28 18:36] fjvallarino commented on #58
@lapinnoir @tejohnso I cannot replicate this issue on my Windows 10 64bit box. One thing we can try is waiting a bit more before removing the rvplayer directory after we kill all the processes.

[2015-12-28 18:37] lapinnoir commented on #58
@fjvallarino Ok.  Closing issue and I'll keep in mind.

[2015-12-28 18:37] #58 closed

[2015-12-28 19:39] robb-price commented on #57
@fjvallarino I thought that we had issues with VM's from @lapinnoir 's testing, so we want to avoid those?

@lapinnoir Can you retest this on your Win10 32 bit box? This is the last issue we have to solve.

Thanks!

[2015-12-28 20:25] lapinnoir commented on #57
@fjvallarino @robb-price Works on a real box.  Issue seems to be VM so closing this issue

[2015-12-28 20:25] #57 closed

[2015-12-29 19:03] lapinnoir commented on #45
@tejohnso Related to this issue: I have found that when a user Edits the Rise Player Configuration, they can Restart Rise Vision Player and their configuration (at least Display ID) will take effect - they don't need to reboot.  I don't know about the other configurations.

[2015-12-29 19:30] tejohnso commented on #45
Yeah this is where the *Restart Player* option came from.
We also need to put a comment in the config file if that hasn't been done yet.

[2015-12-30 15:12] lapinnoir commented on #45
@tejohnso I don't think we need to edit the config file comment.  When the user edits, then Saves, they have to Restart Player anyway.

[2015-12-30 15:14] lapinnoir commented on #53
@tejohnso @fjvallarino I've had this come up across OS.  It happens during the extracting phase. I can confirm that this message will pause the install process until the user clicks OK then the extract process resumes.

[2015-12-30 16:04] hcs0 opened #59 "Linux artifacts left in ./config/ after Uninstall"
**How to duplicate**
Install
Select Uninstall option
Go to ./config and there is a folder called Installer and chromium.  No identifying content but I have deleted the two folders and ran through the Install process again and these two folders appear.

In **Installer** folder properties
Type: inode/directory
7 files within it
- folder GPUCache
— within the folder binary files (application/octet-st

[2015-12-31 01:10] lapinnoir opened #60 "Fonts available in Text Widget in Ubuntu"
@tejohnso @fjvallarino I'm not sure where to put this - ie if in Text Widget or in the Rise Launcher but there is a Trello card about adding MSFT fonts to Ubuntu in Installer Improvements so I thought to add it here.

**How to Duplicate**
In Text Widget:
1. Add the main fonts (top)
2. Add a sample of fonts from 'More Fonts' (middle)
3. Add a sample from custom fonts (TIFF) (bottom)
See http://rva.

[2015-12-31 14:27] lapinnoir commented on #60
FYI @btfrise

[2016-01-07 14:46] hcs0 opened #62 "When the user goes to install Rise Player, we need to improve the message that shows if CAP Player is currently installed"
**How it works now:**
1. Confirm that your Display currently has CAP installed.
2. Download and run the electron Rise Player installer on this machine. Notice that you get this error:
![capinstallerrormessage](https://cloud.githubusercontent.com/assets/5868781/12173101/e290fbe0-b522-11e5-807f-e9d3b2fa6f5c.png)

**How it should work:**
The User should not have to go to Community for assistance. Ins

[2016-01-07 14:47] lapinnoir commented on #62
https://app.intercom.io/a/apps/d85f4ah4/inbox/conversation/1570106116

[2016-01-07 15:18] lapinnoir commented on #62
Also for https://app.intercom.io/a/apps/d85f4ah4/inbox/hcs@risevision.com/conversations/1681726824 (another use).  User attempted to install twice, got the CAP message, then third install attempt it went through

[2016-01-07 22:53] hcs0 opened #63 "Message "Error setting file permissions" in log for both Linux and Windows"
**How it works now**
1. Run the new Installer on Ubuntu 14.04, Ubuntu 15.5, Win 7 and Win 10. Notice that you get the message: An unknown error has occurred.  Please try again or post a question to http://community.risevision.com

**In installer-detail.log**
It states
[code]

[2016-01-07 23:23] tejohnso commented on #63
@fjvallarino I don't think we need to reject on this error.

[2016-01-08 00:09] fjvallarino commented on #63
@lapinnoir I just tried installing *current* installer, then installing *new* installer on top and did not have issues. Is there anything else I should consider when testing this?

@tejohnso I'm not sure in which context that error happened, but if we can't set the execution flag on installer we may not be able to run it.

[2016-01-08 02:49] lapinnoir commented on #62
@fjvallarino @tejohnso Is it possible at all to get a "Cannot proceed with install message due to CAP that already exists on this Display" message if a user is on Ubuntu?  I saw this message when I was doing an install of the Rise Linux Player on an existing Display (and didn't realize that they already had the Player).  Thanks!

[2016-01-08 04:27] lapinnoir commented on #63
@tejohnso @fjvallarino

I think the source of the file permission error is that it’s ‘in use’ because the using is exiting (via Ctrl+W) only..

Scenario: the user will try to install, but the rvplayer folder from previous Installer is not deleted. In this case the user is not aware that they should delete the rvplayer folder (which is how they uninstall the old player)

Improvement would be: Inste

[2016-01-08 04:30] lapinnoir commented on #63
@tejohnso @fjvallarino I saw the same error message and log come up on a Win 10 box...haven't gone through steps to replicate environment.

[2016-01-08 16:45] robb-price commented on #63
@lapinnoir If it occurs on Windows 10 as well, can you update the original description to include the relevant OS's it occurs on? Also @lapinnoir @tejohnso @fjvallarino  why is this an "enhancement"? It sounds like when this happens, the user can't proceed, and doesn't have a clear understanding of what to do next. I'd call that a bug. Am I misunderstanding?

@lapinnoir For all issues/enhancements

[2016-01-08 16:48] lapinnoir commented on #63
@robb-price With Windows 10, I am going to log when I am able to duplicate again but I want to simplify it and only have one issue for Linux and then open a new issue for Windows

[2016-01-08 16:48] robb-price commented on #62
@lapinnoir I don't know (and I assume @fjvallarino and @tejohnso won't know either) what currently happens, and what change you re proposing. Can you update the above description to match this format:

<b>How it works now:</b>
XX
<b>How it should work:</b>
XX
I want to keep that same format on all issues we log so we have a clear understanding of what the issue/enhancement is, so it is clear and c

[2016-01-08 16:49] lapinnoir commented on #63
@robb-price I labeled as enhancement because it's improving on an error message from "unknown error" to known but I'll switch to bug.

[2016-01-08 16:53] lapinnoir commented on #62
@robb-price I've just edited the original issue and also for https://github.com/Rise-Vision/rise-launcher/issues/63 to include the **How it works now:** and **How it should work:**

The comment about the CAP message on Linux shouldn't be there so I'll look into that and log it end of today.

[2016-01-08 17:04] robb-price commented on #62
@lapinnoir I made some changes to your description. Let me know if that makes sense, and is indicative of the issue.

[2016-01-08 17:06] robb-price commented on #63
@lapinnoir Can you take a look at the changes I made to the description here: https://github.com/Rise-Vision/rise-launcher/issues/62, and apply that same idea here? We need to make sure the Dev team clearly understands what the current problem is, and what we expect to happen.

Remember, think of this ALL from the User perspective.

[2016-01-08 17:55] fjvallarino commented on #62
@lapinnoir @robb-price just to be sure: the change we should implement is the message we display to the user, right?

@tejohnso FYI

[2016-01-08 22:07] lapinnoir commented on #49
closing since there is a card for this

[2016-01-08 22:07] #49 closed

[2016-01-09 02:29] robb-price commented on #62
@fjvallarino That is correct.

Thanks!

[2016-01-15 16:39] lapinnoir commented on #62
@fjvallarino Yes that is correct.  This has come up now with users not knowing how to uninstall CAP so at least that is one less obstacle for them to install the new Player.  Thanks

[2016-01-19 23:04] lapinnoir commented on #63
https://app.intercom.io/a/apps/d85f4ah4/inbox/hcs@risevision.com/conversations/1754044009

[2016-01-19 23:07] lapinnoir commented on #63
@robb-price I think the issue is updated now. I've also included in the issue that the error is seen on Win 10. But I have come across the 'Error setting file permissions' for both Ubuntu and Windows and this happens even when I delete the rvplayer folder.  I am not sure what else is contributing to this.

FYI @tejohnso @fjvallarino this was reported also in the Community and the user has posted a

[2016-01-19 23:27] lapinnoir commented on #63
@tejohnso @fjvallarino In addition, the user has mentioned (and sent through additional logs) for this occurring on Win 7 - **on Win 7 they don't have any of the Rise Player installed before on this machine**. I will amend the issue with this new info.

[2016-01-19 23:58] tejohnso commented on #63
@lapinnoir Are you going to add links to the log files here?

[2016-01-20 00:07] lapinnoir commented on #63
@tejohnso

Win 7:
https://uploads.intercomcdn.com/i/o/3737804/d8c02925b79c5d06f6b5af9b/installer-detail.log
https://uploads.intercomcdn.com/i/o/3737805/a2f2931b9259dca0d58f4d63/installer-events.log

Win 10:
https://uploads.intercomcdn.com/i/o/3737344/0ab762242e0f48e8a910a066/installer-detail.log
https://uploads.intercomcdn.com/i/o/3737345/12cd909451a7f112b1178951/installer-events.log

I'll update

[2016-01-20 02:33] lapinnoir commented on #59
@tejohnso @fjvallarino This can be taken out since this relates to a previous version of Installer.

[2016-01-20 02:33] lapinnoir commented on #60
@tejohnso @fjvallarino Since there's a card about this already, I will close this issue.

[2016-01-20 02:33] #60 closed

[2016-01-20 02:44] lapinnoir commented on #59
Reopening, to check if this persists in the new Installer version

[2016-01-20 21:55] lapinnoir opened #66 "404 Error for GoogleAPIs.com on network check"
**How it works now**
The Installer is currently hanging during the connectivity check.  In the logs it is stating 404 on the googleapis.com link.  On visiting the link there is a 404 message.

**Logs**
https://s3.amazonaws.com/uploads.hipchat.com/106443/1597662/ubfrxxIstm9tTbx/installer-detail.log
https://s3.amazonaws.com/uploads.hipchat.com/106443/1597662/uS1o94NfDWbLfjY/installer-events.log

**H

[2016-01-22 02:31] lapinnoir commented on #66
Resolved

[2016-01-22 02:31] #66 closed

[2016-01-25 20:29] ahmedalsudani commented on #59
@hcs0 after looking into this, we have decided the best option we have is not to change anything.

One of the directories is hard-coded into Chrome, and the other one could not be traced back.

Given their generic names and the fact we don't know what the user used those directories for, deleting them is too risky.

[2016-01-25 21:03] #59 closed

[2016-01-27 02:17] tejohnso commented on #63
@hcs0 I went through what I think is the most likely way to replicate this and I couldn't.  I downloaded the old installer, installed it, used CTRL-W to close viewer, then downloaded the new installer and ran it.  All worked well. Can you confirm this is still an issue?

[2016-01-27 15:57] hcs0 commented on #63
@tejohnso I get this error message (in the logs) since I am constantly uninstalling/reinstalling the Player for testing so it may be because of residue files left in rvplayer that Blake noticed earlier with the carts.
The logs that I've sent through last week (https://github.com/Rise-Vision/rise-launcher/issues/63#issuecomment-173029544) was from another user so I've asked him if he could try agai

[2016-01-27 22:51] hcs0 commented on #63
Issue can't be recreated easily even though it has come up via tests and also at least one user.

[2016-01-27 22:51] #63 closed

[2016-01-29 17:58] ashleighalmeida opened #69 "Users unable to launch new version of Rise Player"
<b>How it works now:</b>

1. User installs the newest version of Installer when they already have an existing Rise Vision Player installation / automated deployment of the version change 2015.10.12.15.11 has been rolled out to the user
2. User launches player, and get's an error. ("An unknown error has occurred. Please try again or post a question to http://community.risevision.com")
3. User remov

[2016-02-01 11:21] ByronDarlison commented on #69
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;Xr5Q1G8m&#x2F;870-issue-69-users-unable-to-launch-new-version-of-rise-player"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Issue #69 Users unable to launch new version of Rise Player</a>

[2016-02-01 11:22] ByronDarlison commented on #62
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;m4oIdP1J&#x2F;871-issue-62-when-the-user-goes-to-install-rise-player-we-need-to-improve-the-message-that-shows-if-cap-player-is-currently-installe"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Issue #62 When the user goes to install Rise Player, we need to improve the message that show

[2016-02-02 16:15] ByronDarlison commented on #69
Duplicate issue of https://github.com/Rise-Vision/rise-launcher-electron/issues/155 Closing

[2016-02-02 16:15] #69 closed

[2016-02-08 18:38] ahmedalsudani commented on #62
To test this has been verified:

- open Chrome (If you don't have it installed, open the Chrome that the Player uses. You can find it in the `rvplayer` directory)
- Install Chrome App Player from https://chrome.google.com/webstore/detail/rise-player/ilcmohdkjfcfekfmpdppgoaaemgdmhaa?hl=en
- Restart the player
- Verify the message has changed from the one above and now shows https://github.com/Rise-

[2016-02-09 20:48] btfrise commented on #62
Confirmed as changed.

[2016-02-09 20:48] #62 closed

[2016-04-12 13:29] hcs0 commented on #60
Resolved in Linux x64
@btfrise I've updated the presentation link since the older one used the previous version of the Text Widget